<div class='devise-background'>
  <div class="devise-container">    
    <div class="devise-panel" id="login">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <h2 class="text-center">Login</h2>
        <div class="form-inputs devise-inputs">
          <%= f.input :email, required: true,autofocus: true, label: "Email", input_html: {autocomplete: "email"} %>
          <%=f.input :password, required: true, hint: ("almeno #{@minimum_password_length} caratteri" if @minimum_password_length), input_html: {autocomplete: "current-password"}%>
        </div>
        <div class="form-actions devise-button-class">
          <%= f.button :submit, "Login", class:"devise-button" %>
        </div>
      <% end %>
      <%= link_to t(".sign_up", default: "Iscriviti?"), new_user_registration_path, class: "navbar-wagon-link black-text" %>
    </div>
  </div>
</div>
