<div class='col-xs-4'style="margin: 10px auto;">
  <%= inline_svg_tag("weather-icons/#{forecast.icon}.svg", class: 'weather-icon')%>
  <div class='weather-data m-2 ta-c'>
    <p>Temperatura: <%= forecast.temperature %>째</p>
    <p>Temperatura apparente: <%= forecast.apparent_temperature %>째</p>
    <p>Umidita': <%= forecast.humidity %> %</p>
    <p>Pressione: <%= forecast.pressure %> Pa</p>
    <p>uvIndex: <%= forecast.uv_index %></p>
  </div>
</div>
<div class='col-xs-8' style="margin: 20px auto;">
  <div class='weather-grid'>
    <% forecast.week_weather.each do |day|%>
      <div>
        <%= inline_svg_tag("weather-icons/#{day.icon}.svg", class: 'weather-small-icon')%>
        <div class='weather-data m-2 ta-c'>
          <p class='fz-sm'><%= Time.at(day.time).strftime('%e %b %Y') %></p>
          <p class='fz-sm'>Temperatura: <%= day.temperatureLow %>째 - <%= day.temperatureHigh %>째</p>
          <p class='fz-sm'>Umidita': <%= day.humidity.to_f * 100 %> %</p>
          <p class='fz-sm'>Pressione: <%= day.pressure %> Pa</p>
          <p class='fz-sm'>uvIndex: <%= day.uv_index %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
