<!DOCTYPE html>
<html>
  <head>
    <title>A tutta pista</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%#= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'  %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'  %>
  </head>
  <body>
    <%= render "shared/navbar"%>
    <%= yield %>
    <%= content_for :render_async %>
  </body>
  <%= javascript_pack_tag 'custom', defer:"defer" %>
</html>
