<!DOCTYPE html>
<html>
  <head>
    <title>A tutta pista</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <%= render "shared/navbar"%>
    <%= yield %>
    <%#= render 'shared/profile'%>
    <%= content_for :render_async %>
  </body>
</html>
