<!DOCTYPE html>
<html>
  <head>
    <title>A tutta pista</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
  <%= render "shared/navbar"%>
    <% if flash.keys.one?('alert') %>
      <%= render partial: 'shared/flash_message', locals: {flash: flash} %>
    <% end %>
    <%= yield %>
  </div>
  </body>
</html>
  